In [6]:
for i in range(1, 11):
    print(i)
print('Finished!')

1
2
3
4
5
6
7
8
9
10
Finished!

In [8]:
for letter in 'Hello World':
    print(letter)
print('Finished!')

H
e
l
l
o

W
o
r
l
d
Finished!

In [14]:
my_list = 'Hello World'
for i in range(len(my_list)):
    print(i, my_list[i])

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [16]:
for i, value in enumerate(my_list):
    print(i, value)

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [24]:
#deifine a list of numbers
numbers = [10, 20, 30, 40, 50]

#initial number
total_sum = 0

#iterate over the list using a for loop
for num in numbers:
    total_sum += num  # add each number to the toal_sum through iteration

print(f'The total of all numbers in the list is equal to: {total_sum}.')

The total of all numbers in the list is equal to: 150.

In [ ]:
#this is a test_test test